{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order"],
  "ignoreFiles": ["node_modules/**", "coverage/**"],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
