.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;

  > h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  > a {
    flex: 1;
    min-width: 20rem;
    height: auto;
  }
}
