.contact {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  &_content {
    flex: 1;
  }

  &_other {
    margin: 0 0 0 var(--sp-6);
    list-style: none;
    flex: 0 0 35rem;

    @media screen and (max-width: 767px) {
      margin: var(--sp-6) 0 0 0;
      flex: 1;
    }

    &_list {
      padding: 0;
      margin: 0;
      list-style: none;

      &_item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: var(--sp-4);
        }
        a {
          display: block;
        }

        &_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: var(--gradient-primary);
          color: #fff;
          width: 5rem;
          height: 5rem;
          font-size: 2rem;
          margin-right: var(--sp-4);
          border-radius: var(--border-radius-2);
        }
      }
    }
  }
}
