.faq {
  padding: 0;
  margin: 0;
  list-style: none;

  &_item {
    background-color: var(--box-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

    &:not(:last-child) {
      margin-bottom: var(--sp-6);
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--sp-5);
      cursor: pointer;

      &\:svg {
        background-color: transparent;
        border: 0;
        color: var(--color-main);
        margin-left: var(--sp-3);
        font-size: 1.6rem;
        cursor: inherit;

        svg {
          transition: transform 0.2s ease;
        }

        &.open svg {
          transform: rotate(90deg);
        }
      }

      &\:question {
        margin: 0;
        line-height: 1;
        font-size: 2rem;
      }
    }

    &_answer {
      padding: 0 var(--sp-5) var(--sp-5) var(--sp-5);
    }

    .ReactCollapse--collapse {
      transition: height 0.2s ease;
    }
  }
}
