.products {
  display: flex;
  align-items: flex-start;
  position: relative;

  @media screen and (max-width: 980px) {
    flex-direction: column;
    align-items: stretch;
  }

  &_nav {
    flex: 0 0 30rem;
    padding: 0;
    margin: 0 var(--sp-6) 0 0;
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: var(--sp-6);
    }

    @media screen and (max-width: 980px) {
      flex: 1;
      margin: 0 0 var(--sp-6) 0;
    }

    @media screen and (min-width: 980px) {
      position: sticky;
      top: 0;
    }
  }

  &_content {
    flex: 1;

    &_ol {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &_item {
      display: flex;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }

      &_generic {
        flex: 0 0 20rem;
        padding: var(--sp-6) var(--sp-4);

        &\:img {
          position: relative;
          height: 15rem;
          background-color: var(--img-loading);
        }

        &\:price {
          margin-top: var(--sp-2);
          font-size: 1.7rem;
          text-align: center;
          color: var(--products-price);
        }
      }

      &_main {
        flex: 1;
        padding: var(--sp-6) var(--sp-4);
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 2rem;
          margin: 0;
        }

        p {
          margin: var(--sp-4) 0;
          flex: 1;
          font-size: 1.4rem;
        }

        &_buttons {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;

          @media screen and (max-width: 767px) {
            flex-direction: column;
          }

          > li {
            @media screen and (max-width: 767px) {
              .button {
                display: block;
              }
            }

            &:not(:last-child) {
              margin-right: var(--sp-3);

              @media screen and (max-width: 767px) {
                margin: 0 0 var(--sp-3) 0;
              }
            }
          }
        }
      }
    }
  }

  &_category {
    padding: 0;
    margin: 0;
    list-style: none;

    &_item {
      > a {
        display: block;
        padding: var(--sp-2) var(--sp-3);

        &:hover {
          background-color: var(--theme-area-background);
          text-decoration: none;
          color: inherit;
        }
      }

      &\:active {
        a {
          background-color: var(--theme-area-background);
          font-weight: 700;
        }
      }
    }
  }

  &_item {
    margin: 0;
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: var(--sp-6);
    }

    &_h2 {
      margin: 0 0 var(--sp-2) 0;
      font-size: 2.5rem;
      display: flex;
      align-items: center;

      > span {
        margin-left: var(--sp-4);
        font-size: 2rem;
        font-weight: 400;
        color: var(--products-price);
      }
    }

    &_img {
      position: relative;

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 30rem;

        img {
          max-width: 100%;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 4rem;
        opacity: 0.5;
        padding: var(--sp-4);
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev {
        left: 0;
      }
    }

    &_links {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }

      > li {
        flex: 1;

        &:not(:last-child) {
          margin-right: var(--sp-6);

          @media screen and (max-width: 767px) {
            margin: 0 0 var(--sp-4) 0;
          }
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}
