@use '@/styles/media' as *;

.wrapper {
  @include mobile-tablet {
    display: none;
  }

  margin: 0 auto 0 2rem;

  > ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    list-style: none;
  }
}
