@use '@/styles/media' as *;

.wrapper {
  @include mobile-tablet {
    flex-direction: column;
  }

  @include desktop {
    &.single {
      flex-direction: column;

      .img {
        width: 100%;

        > div {
          border-radius: var(--radius) var(--radius) 0 0;
        }
      }
    }
  }

  display: flex;

  height: 100%;

  color: inherit;

  background-color: rgb(var(--container-background));
  border-radius: var(--radius);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);

  .img {
    @include mobile-tablet {
      width: 100%;

      > div:first-of-type {
        border-radius: var(--radius) var(--radius) 0 0;
      }
    }

    flex-shrink: 0;
    width: 20rem;
    height: 12rem;

    > div {
      border-radius: var(--radius) 0 0 var(--radius);
    }

    img {
      object-fit: cover;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;

  > p {
    overflow: hidden;
    display: -webkit-box;

    color: rgb(var(--text-secondary-color));

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.title {
  > h3 {
    font-size: 1.25rem;
  }

  // Category
  > span {
    font-weight: 500;
    color: rgb(var(--category));
  }
}

.footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  margin-top: auto;

  > span {
    font-weight: 500;

    &:first-child {
      font-size: 1rem;
      font-weight: 500;
      color: rgb(var(--price));
    }
  }
}
