.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  padding: 0.25rem;

  border: 1px solid rgb(var(--button-secondary-border));
  border-radius: 2rem;

  > a {
    --button-secondary-color: var(--text-secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.25rem;
    padding: 0 0.75rem;

    color: rgb(var(--button-secondary-color));

    border-radius: 3rem;

    transition:
      color var(--animation),
      background-color var(--animation);

    &:hover {
      color: rgb(var(--button-secondary-hover-color));
      text-decoration: none;
    }

    &.active {
      color: rgb(var(--button-secondary-active-color));
      background-color: rgb(var(--button-secondary-active));
    }
  }
}
