.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3rem 1.25rem;

  text-align: center;

  > svg {
    width: 5rem;
    height: 5rem;
  }

  > span {
    margin-top: 1rem;
    color: rgb(var(--text-secondary-color));
  }

  > p {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
