.wrapper {
  position: sticky;
  z-index: 100;
  top: 0;

  width: 100%;

  background-color: rgb(255 255 255 / 9%);
  backdrop-filter: saturate(180%) blur(0.375rem);

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
  }
}

.logo {
  display: flex;

  > svg {
    width: 10rem;
  }
}
