@use '@/styles/media' as *;

.wrapper {
  position: sticky;
  z-index: 100;
  top: 0;

  width: 100%;

  background-color: transparent;
  backdrop-filter: saturate(180%) blur(0.375rem);
  border-bottom: 1px solid rgb(var(--header-border));

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
  }
}

.logo {
  display: flex;

  > svg {
    width: 10rem;
  }
}

.switches:first-of-type {
  @include mobile-tablet {
    display: none;
  }
}
