@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  &_fromTopToDown {
    animation: fromTopToDown 5s ease-in-out infinite;
  }
}

@keyframes fromTopToDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
