.userBar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--userbar-color);

  @media screen and (min-width: 767px) {
    > li:not(:last-child) {
      margin-right: var(--sp-2);
    }
  }

  &_lang {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    line-height: 0;

    > li:not(:last-child) {
      margin-right: var(--sp-2);
    }

    &_item {
      display: block;
      position: relative;
      width: 4rem;
      height: 2.5rem;
    }

    > li a img {
      border-radius: var(--border-radius);
    }
  }

  &_button {
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    color: inherit;
    cursor: pointer;
  }
}
