.userBar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--color-light);

  li:not(:last-child) {
    margin-right: var(--sp-2);
  }

  &_lang {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    line-height: 0;

    > li a img {
      border-radius: var(--border-radius);
    }
  }

  &_button {
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    cursor: pointer;
  }
}
