:root {
  --radius: 0.5rem;
  --radius-2: 0.25rem;
  --header-height: 4rem;
  --layout-max-width: 90rem;
  --animation: 0.2s ease;

  // Colors
  --primary: 226 17 36;
  --primary-hover: 196 15 32;
  --secondary: 245 139 31;

  // Global
  --body-background: 243 244 246;
  --container-background: 255 255 255;
  --text-color: 23 23 23;
  --text-secondary-color: 102 102 102;
  --border-color: 0 0 0 / 8%;
  --header-border: var(--border-color);
  --price: 24 135 36;
  --category: var(--price);
  --swiper-navigation-color: rgb(var(--container-background));
  --modal-background: 0 0 0 / 80%;
  --link: var(--primary);

  // Buttons
  // Primary
  --button-primary: var(--primary);
  --button-primary-border: var(--button-primary);
  --button-primary-color: 255 255 255;
  --button-primary-hover: var(--primary-hover);
  --button-primary-hover-border: var(--button-primary-hover);
  --button-primary-hover-color: var(--button-primary-color);

  // Secondary
  --button-secondary: 0 0 0 / 0%;
  --button-secondary-border: var(--button-secondary-hover-color) / 10%;
  --button-secondary-color: var(--text-color);
  --button-secondary-hover-color: 0 0 0;
  --button-secondary-active: var(--button-secondary-hover-color) / 6%;
  --button-secondary-active-color: var(--button-secondary-hover-color);

  // Nav
  --nav-color: var(--text-secondary-color);
  --nav-color-hover: 0 0 0;
  --nav-active: var(--button-secondary-active);
  --nav-active-color: 0 0 0;

  // Tooltip
  --tooltip: 255 255 255;
  --tooltip-border: var(--border-color);

  // Inputs
  --input-border: var(--border-color);

  // Messages
  --message-error: 209 36 47;
  --message-success: 26 127 55;
  --message-warning: 154 103 0;
  --message-info: 9 105 218;
}

[theme='dark']:root {
  // Global
  --body-background: 0 0 0;
  --container-background: 11 11 15;
  --text-color: 237 237 237;
  --text-secondary-color: 136 136 136;
  --border-color: 255 255 255 / 8%;
  --header-border: var(--border-color);
  --price: 94 187 104;
  --link: 239 64 81;

  // Buttons
  // Secondary
  --button-secondary-hover-color: 255 255 255;
  --button-secondary-active: var(--button-secondary-hover-color) / 8%;

  // Nav
  --nav-color-hover: 255 255 255;
  --nav-active-color: 255 255 255;

  // Tooltip
  --tooltip: 10 10 10;

  // Messages
  --message-error: 248 81 73;
  --message-success: 46 160 67;
  --message-warning: 187 128 9;
  --message-info: 56 139 253;

  color-scheme: dark;
}
