html {
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@import './variables';
@import './dark';

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  background-color: var(--background-body);
  color: var(--color-body);
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--color-main);
    text-decoration: underline;
  }
}

/* ===== Flex ===== */
.flex {
  display: flex;

  &_jc {
    &\:between {
      justify-content: space-between;
    }

    &\:center {
      justify-content: center;
    }

    /*
    &\:around {
      justify-content: space-around;
    }

    &\:start {
      justify-content: flex-start;
    }

    &\:end {
      justify-content: flex-start;
    } */
  }

  &_ai {
    &\:center {
      align-items: center;
    }

    /* &\:start {
      align-items: flex-start;
    }

    &\:end {
      align-items: flex-end;
    } */
  }
}

/* ===== Padding ===== */
.padding {
  padding: var(--sp-6);

  &\:half {
    padding: var(--sp-3);
  }
}

/* ===== Margin ===== */
.margin {
  margin: var(--sp-6);

  &\:half {
    margin: var(--sp-3);
  }

  &_top {
    margin-top: var(--sp-6);

    &\:half {
      margin-top: var(--sp-3);
    }
  }
}

/* ===== Text ===== */
.text {
  &_weight {
    &\:700 {
      font-weight: 700;
    }
  }

  &\:color {
    color: var(--color-main);
  }

  &\:gradient {
    color: var(--color-main);
    background-image: var(--button-primary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &\:light {
    color: var(--color-light);
  }
}

@import './layout';
@import './userbar';
@import './drawer';
@import './buttons';
@import './inputs';
@import './pages/home';
@import './pages/products';
@import './pages/contact';
@import './pages/faq';

@import './responsive';
@import './animations';
